{% extends 'main/base.html' %}
{% block content %}
<link rel="stylesheet" href="assets/css/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<!-- login area start -->
<div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4>login</h4>
                        </a>
                        <a data-bs-toggle="tab" href="#lg2">
                            <h4>register</h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="{% url 'login'%}" method="post">
                                        {% csrf_token %}
                                        <input type="text" name="username" placeholder="Username" class="form-control mb-3" />
                                        <input type="password" name="password" placeholder="Password" class="form-control mb-3" />
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <input type="checkbox" id="remember-me" />
                                                <label for="remember-me" class="ml-2">Remember me</label>
                                                <a href="#">Forgot Password?</a>
                                            </div>
                                            <button type="submit" class="btn btn-dark">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="lg2" class="tab-pane">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="{% url 'authentication' %}" method="post">
                                        {% csrf_token %}
                                        <input type="text" name="username" placeholder="Username" class="form-control mb-3" />
                                        <input type="text" name="first_name" placeholder="First Name" class="form-control mb-3" />
                                        <input type="text" name="last_name" placeholder="Last Name" class="form-control mb-3" />
                                        <input name="email" placeholder="Email" type="email" class="form-control mb-3" />
                                        <input type="password" name="pass1" placeholder="Password" class="form-control mb-3" />
                                        <input type="password" name="pass2" placeholder="Confirm Password" class="form-control mb-3" />
                                        <div class="button-box">
                                            <button type="submit" class="btn btn-dark">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login area end -->

{% endblock %}